old-detik-scraper/
detik-scraper/data/
google-trends-scraper/data/
google-trends-scraper-rss/
google-trends-scraper-rss/data/
trends24-scraper/data/
use-case-dfk.pdf
use-case-pad.pdf
use-case.pdf

test-screenshot/